<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <h1>Inicio de sesión</h1>

        <nav>
            <ul class="header__menu">
                <li><a href="../../index.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="form">
            <form id="login-form">
                <div class="form__input">
                    <label for="">Email</label>
                    <input id="login-email" type="email">
                </div>

                <div class="form__input">
                    <label for="">Password: </label>
                    <input id="login-password" type="password">
                </div>

                <button class="form__button" type="submit">Iniciar sesión</button>
            </form>
            <a href="./register.html">Crear cuenta</a>
        </section>
    </main>
</body>
</html>